{% extends 'base.html.twig' %}

{% block title %}Espace Administrateur
{% endblock %}

{% block stylesheets %}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f7f7f7;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100vh;
        margin: 0;
        position: relative; /* Ajouté pour positionner le tableau */
    }
    h1, p {
        color: #333;
    }
    button {
        padding: 15px 30px;
        background-color: orange;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    button:hover {
        background-color: green;
    }
    #qrcode {
        display: none;
    }
    /* Styles ajoutés pour le tableau */
    table {
        border-collapse: collapse;
        position: absolute; /* Pour positionner le tableau */
        
        left: 20px;       /* À gauche de l'écran */
        width: auto;      /* Adapter la largeur au contenu */
        background-color: white;
        border-radius: 5px;
        overflow: hidden;
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
    }
    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
    tr:hover {
        background-color: #f5f5f5;
    }
</style>
{% endblock %}

{% block body %}
    {% include "menu/menu.html.twig" %}
    <h1>Faire l'appel</h1>
    
    <button id="generateQR">Générer un code QR</button>
    <div id="qrcode"></div>

    <table>
        <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Statut</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>
                        {% if user.isSign == 1 %}
                            Présent
                        {% else %}
                            Absent
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://cdn.rawgit.com/davidshimjs/qrcodejs/gh-pages/qrcode.min.js"></script>
    <script>
		const href = "https://vkpgbxvb-8000.euw.devtunnels.ms/";
const size = 256;

function generateQRCode() {
const timestamp = new Date().getTime();
const newHref = href + 'sign';

const qrcodeElement = document.querySelector("#qrcode");
qrcodeElement.innerHTML = '';

new QRCode(qrcodeElement, {
text: newHref,
width: size,
height: size
});
}

document.getElementById('generateQR').addEventListener('click', function () {
document.getElementById("qrcode").style.display = 'block';
document.getElementById('generateQR').style.display = "none";
generateQRCode();
setInterval(generateQRCode, 2000);
});
	</script>
{% endblock %}
