{% block stylesheets %}
	<style>
		nav {
			display: flex;
			justify-content: flex-end;
		}
		
		.menu {
			padding: 15px 30px;
			background-color: orange;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;
			text-decoration: none;
		}

		video {
			display: block;
			width: 480px;
			margin: 10% auto 35px;
		}

		.menu:hover {
			background-color: #ff8c00;
		}
	</style>
{% endblock %}

{% block body %}
	<nav>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<a class="menu" href="{{ path('app_logout') }}">Déconnexion</a>
		{% endif %}
	</nav>
{% endblock %}
