{% extends 'base.html.twig' %}

{% block title %}Signature
{% endblock %}

{% block stylesheets %}
	<style>
		form {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100vh;
		}
		button {
			padding: 15px 30px;
			background-color: orange;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;
		}
		button:hover {
			background-color: green;
		}
	</style>
{% endblock %}

{% block body %}
	<div>
		<p id="signe"></p>
	</div>
	<form action="/update-sign" method="POST">
		<button type="submit" class="sign-button">Dire que je suis présent</button>
		<input type="hidden" name="id" value="{{ user.id }}"/>
	</form>

	<script>
		if ({{ user.isIsSign }}) {
			var text = document.getElementById('signe');
			var di
			text.innerHTML = "Merci d'avoir signé ! Vous pouvez fermer la page.";
			text.style.backgroundColor = "green";
			text.style.color = "#fff";
			text.style.padding = "15px 30px";
			text.style.borderRadius = "5px";
			text.style.textAlign = "center";
			text.style.fontSize = "20px";
			text.style.width = "20%";
			text.style.margin = "auto";
		}
	</script>
{% endblock %}
