{% extends 'base.html.twig' %}

{% block title %}Signature
{% endblock %}

{% block stylesheets %}
	<style>
		button {
			padding: 15px 30px;
			background-color: orange;
			color: white;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			transition: background-color 0.3s;
			margin-top: 30px;
			margin-bottom: 50px;
		}
		button:hover {
			background-color: green;
		}
	</style>
{% endblock %}

{% block body %}
    <button class="sign-button">Dire que je suis présent</button>
{% endblock %}
